<div class="container ">
    <ul class="breadcrumb ">
    <li>
        <a href="/"><i class="glyphicon glyphicon-home"></i>
            <span class="sr-only"></span><span class="glyphicon glyphicon-menu-right"></span>
    </li>
        <li><a href="/tours">Наші тури<span class="glyphicon glyphicon-menu-right"></span></li>
    <li><a href="/tours/<?php echo $tours->category_id; ?>"><?php echo $tours->category_name; ?><span class="glyphicon glyphicon-menu-right"></span></li>
    <li class="active"><a href="#"><?php echo $tours->tour_name; ?></li>
</ul>
</div>


