<div class="list-group">
    <span class="list-group-item active">Тури</span>
       <?php foreach($tours as $key => $tour): ?>
        <a href="/tour/<?php echo $tour['tour_id']; ?>" class="list-group-item ">
            <span><?php echo $tour["tour_name"]; ?></span>
        </a>
    <?php endforeach;?>
</div>
