<div class="content">
    <ol class="breadcrumb">
        <li>
            <a href="/"><i class="glyphicon glyphicon-home"></i>
                <span class="sr-only"></span><span class="glyphicon glyphicon-menu-right"></span>
        </li>
        <li class="breadcrumb-item"><a href="/tours">Наші тури<span class="glyphicon glyphicon-menu-right"></span></li>
        <li class="active"><a href="#"><?php echo $category_name; ?></li>
    </ol>
</div>

