<?php $i=0; foreach($categories as $category): ?>
<?php if($category["is_active"]=1 ): ?>
    <div class="carousel slide ">
    <?php if(file_exists($_SERVER['CONTEXT_DOCUMENT_ROOT']."/images/categories/".$category['parent']['category_id'].".jpg")): ?>
    <div id="carousel<?php echo $i;?>" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
           <img class=" img-responsive" src="/images/categories/<?php echo $category['parent']['category_id']; ?>.jpg" ><?php echo $category['parent']['category_name']; ?>
    </div>
    <?php endif;?>
</div>

<?php endif; $i++; ?>
<?php endforeach; ?>

